.vscode
.env
__pycache__/
.ipynb_checkpoints
*.code-workspace
.DS_Store

# ignore legacy folder
legacy


# Keep following folders but not contents
raw_reports/*
!raw_reports/.gitkeep

output/*
!output/.gitkeep

